* {
  margin: 0;
  padding: 0;
} /* to remove the top and left whitespace */

html,
body {
  width: 100%;
  height: 100%;
} /* just to be sure these are full screen*/

canvas {
  display: block;
} /* To remove the scrollbars */

div {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
}
